body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #222;
  max-width: 960px;
  margin: 0 auto;
}

aside {
  width: 200px;
}

section {
  width: 720px;
  padding-left: 20px;
  border-left: 1px solid #ddd;
}

input[type=text] {
  width: 100%;
  margin: 4px 0;
}

input[type=button],
input[type=submit] {
  background-color: #337ab7;
  color: #fff;
  border: 1px solid #2e6da4;
  padding: 4px 12px;
}

header * {
  display: inline-block;
  margin: 0;
}

#result {
  display: none;
  margin: 1em;
  padding: 0.25em;
  width: 45%;
  border: 1px solid #000;
  border-radius: 5px;
}
  #result.success {
    background-color: #11f62c;
  }
  #result.fail {
    background-color: #e7aab5;
  }

#facts ul {
  padding: 0;
  list-style: none;
}

.hiera {
  width: 100%;
}
  .hiera .replace {
    border: 1px solid #ccc;
    background-color: #dedede;
  }
  .hiera .active {
    border-bottom: 1px solid #ccc;
  }
    .hiera .active::before {
      content: "> ";
      color: red;
    }
    .hiera .active::after {
      content: " <";
      color: red;
    }
     
.datasources li .path {
  font-family: monospace;
  cursor: pointer;
}
.datasources li pre {
  display: none;
}

.ext {
  color: #cccccc;
}

.path:hover .ext {
  color: #222;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}