body {
  width: 80%;
}

.config {
}

#openhelp {
  font-size: smaller;
}

#result {
  display: none;
  margin: 0.5em;
  padding: 0.25em;
  width: 55%;
  border: 1px solid black;
  border-radius: 5px;
}
  #result svg.timer {
     -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      float: right;
  }
  #result .countdown {
    stroke-dasharray: 45; /* circumference in pixels */
    stroke-dashoffset: 45;
    transition: none;
  }
  #result .countdown.counting {
    stroke-dashoffset: 0;
    transition: all 2s linear;
  }
  #result h4 {
    border-bottom: 1px solid black;
    margin: 0;
  }
  #result.success {
    background-color: #11f62c;
  }
  #result.fail {
    background-color: #e7aab5;
  }

.facts {
  float: right;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0.5em;
  padding: 0.5em;
}
.facts ul {
  margin: 0;
}
.hiera {
  clear: both;
  width: 100%;
  border-top: 2px solid black;
}
  .hiera #update,
  .hiera #reset {
    float: right;
  }
  .hiera #reset {
    display: none;
  }
  .hiera .replace {
    border: 1px solid #ccc;
    background-color: #dedede;
  }
  .hiera .active {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
  }
    .hiera .active::before {
      content: "> ";
      color: red;
    }
    .hiera .active::after {
      content: " <";
      color: red;
    }






.datasources li .path {
  font-family: monospace;
  cursor: pointer;
}
.datasources li pre {
  display: none;
}

.ext {
  color: #ccc;
}
.path:hover .ext {
  color: black;
}

