body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #222;
  max-width: 960px;
  min-width: 960px;
  margin: 0 auto;
}

aside {
  width: 200px;
}

section {
  width: 720px;
  padding-left: 20px;
  border-left: 1px solid #ddd;
}

input[type=text] {
  width: 100%;
  margin: 4px 0;
}

input[type=button],
input[type=submit] {
  background-color: #337ab7;
  color: #fff;
  border: 1px solid #2e6da4;
  padding: 4px 12px;
}

header * {
  display: inline-block;
  margin: 0;
}

#openhelp {
  font-size: smaller;
}

#result {
  display: none;
  width: 100%;
  border: 1px solid #000;
  border-radius: 5px;
}
  #result svg.timer {
     -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      float: right;
      margin: 4px 4px 0 0;
  }
  #result .countdown {
    stroke-dasharray: 45; /* circumference in pixels */
    stroke-dashoffset: 45;
    transition: none;
  }
  #result .countdown.counting {
    stroke-dashoffset: 0;
    transition: all 2s linear;
  }
  #result h4 {
    border-bottom: 1px solid black;
    margin: 0.25em;
  }
  #result.success {
    background-color: #11f62c;
  }
  #result.fail {
    background-color: #e7aab5;
  }
  #result #message {
    margin: 0.25em;
  }

#facts ul {
  padding: 0;
  list-style: none;
}
  #facts label {
    font-family: monospace;
    font-weight: bold;
  }

.hiera {
  width: 100%;
}
  .hiera #update,
  .hiera #reset {
    float: right;
  }
  .hiera #reset {
    display: none;
  }
  .hiera .replace {
    border: 1px solid #ccc;
    background-color: #dedede;
  }
  .hiera .active {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
  }
    .hiera .active::before {
      content: "> ";
      color: red;
    }
    .hiera .active::after {
      content: " <";
      color: red;
    }

.datasources li .path {
  font-family: monospace;
  cursor: pointer;
}
.datasources li pre {
  display: none;
}

.ext {
  color: #cccccc;
}

.path:hover .ext {
  color: #222;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

/* jquery UI overrides */
.ui-widget {
  font-size: 0.85em;
}